snippet "l(et|e)?" "let binding" br
let ${1} = ${0}
endsnippet

snippet fn "let function"
(${1}) => {
	${0}
};
endsnippet

snippet "sw(itch|itc|it|i)?" "pattern match" r
switch (${1}) {
| ${2} => ${0}
};
endsnippet
