snippet "l(et|e)?" "let binding" br
let ${1} = ${2}
endsnippet

snippet fn "let function"
(${2}) => {
	${3}
};
endsnippet

snippet "sw(itch|itc|it|i)?" "pattern match" r
switch (${1}) {
| ${2} => ${0}
};
endsnippet
