snippet "let" "let binding" br
let ${1} = ${2};
endsnippet

snippet "lef" "let function" br
let ${1:fn} = (${2}) => {
	${3}
};
endsnippet

snippet "swi" "pattern match" r
switch (${1}) {
| ${2}
};
endsnippet
