[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv.git
[submodule "roles/dotfiles/files/.vim/pack/bundle/opt/vim-pathogen"]
	path = roles/dotfiles/files/.vim/pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
