.backup
vendor/env
*.private

roles/dotfiles/vars/main.yml
roles/dotfiles/templates/out
roles/dotfiles/files/.zsh/history
roles/dotfiles/files/.zsh/.zcompdump

roles/dotfiles/files/.zshenv
roles/dotfiles/files/.gitconfig
roles/dotfiles/files/.tmux.conf
