[submodule "roles/dotfiles/files/.zsh/zsh-autosuggestions"]
	path = roles/dotfiles/files/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "roles/dotfiles/files/.zsh/fast-syntax-highlighting"]
	path = roles/dotfiles/files/.zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "roles/dotfiles/files/.tmux/plugins/tpm"]
	path = roles/dotfiles/files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
