.backup
lib/env
*.private

roles/dotfiles/vars/main.yml
roles/dotfiles/templates/out
roles/dotfiles/files/.zsh/.zhistory
roles/dotfiles/files/.zsh/.zcompdump

roles/dotfiles/files/.zshenv
roles/dotfiles/files/.gitconfig
roles/dotfiles/files/.tmux.conf
