vars/work.yml

templates/out

files/.config/ranger/rc.conf
files/.gitconfig
files/.gitconfig.work
files/.tmux.conf
files/.vim/spell
files/.zsh/.zcompdump
files/.zsh/.zhistory
files/.zsh/.zprofile
files/.zsh/.zshrc
files/.zsh/aliases.private.zsh
files/.zshenv
