vars/work.yml

templates/out

files/.zsh/.zhistory
files/.zsh/.zcompdump
files/.zshenv
files/.zsh/.zprofile
files/.gitconfig
files/.gitconfig.work
files/.tmux.conf
files/.zsh/aliases.private.zsh
files/.vim/spell
