vars/work.yml

templates/out

files/.zsh/.zcompdump
files/.zsh/.zhistory
files/.zsh/.zprofile
files/.zsh/.zshrc
files/.zsh/aliases.private.zsh
files/.zshenv

files/.gitconfig
files/.gitconfig.work

files/.tmux.conf

files/.vim/spell
