snippet "l(et|e)?" "let binding" br
let ${1} = ${0}
endsnippet

snippet fn "let function"
(${1}) => {
	${0}
};
endsnippet

snippet "sw(itch|itc|it|i)?" "pattern match" r
switch (${1}) {
| ${2} => ${0}
};
endsnippet

snippet "test" "bs-jest test block"
test("${1}", () => {
	let expected = ${2:""};
	let received = ${3:""};

	expected(received) |> toBe(expected);
});
endsnippet
