# {{ ansible_managed }}

[user]
{% if git_user_name != '' %}
  name = {{ git_user_name }}
{% endif %}
{% if git_user_email != '' %}
  email = {{ git_user_email }}
{% endif %}

[alias]
  aa = add --all
  alias = config --get-regexp ^alias\\.
  amend = commit --amend -v
  br = branch
  ci = commit -v
  co = checkout
  cp = cherry-pick
  lg = log --graph --oneline --decorate --all
  ls = log -n 20 --pretty=format:'%C(yellow)%h%Creset %s -- %C(bold italic magenta)<%cn>%Creset %C(blue)[%ad]%Creset %C(red)%d' --date=relative
  root = rev-parse --show-toplevel
  st = status

[color]
  ui = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = less -S --chop-long-lines
