# {{ ansible_managed }}

[user]
{% if git_user_name != '' %}
  name = {{ git_user_name }}
{% endif %}
{% if git_user_email != '' %}
  email = {{ git_user_email }}
{% endif %}

{% if work %}
[includeIf "gitdir:~/Code/work/"]
  path = ~/.gitconfig.work
{% endif %}

[alias]
  a = add
  aa = add --all
  alias = config --get-regexp ^alias\\.
  amn = "!echo 'use ca'; exit 1"
  b = branch
  br = "!echo 'use b'; exit 1"
  ca = commit --amend -v
  cc = commit -v
  ccnv = commit -v --no-verify
  ci = "!echo 'use cc'; exit 1"
  co = checkout
  cp = cherry-pick
  d = diff
  f = fetch
  lg = log --graph --oneline --decorate --all
  ls = log -n 20 --pretty=format:'%C(yellow)%h%Creset %s -- %C(bold italic magenta)<%cn>%Creset %C(blue)[%ad]%Creset %C(red)%d' --date=relative
  p = pull
  r = restore
  root = rev-parse --show-toplevel
  s = status -sb
  st = status
  sub = submodule
  sw = switch
  # Review helpers
  files = "!f() { git diff --name-only $(git merge-base HEAD $1) $2; }; f"
  stat = "!f() { git diff --stat $(git merge-base HEAD $1) $2; }; f"

[color]
  ui = auto

[color "status"]
  added = green
  changed = red
  untracked = blue

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  pager = less -S --chop-long-lines

[merge]
  tool = nvimdiff
[mergetool]
  prompt = true
[mergetool "nvimdiff"]
  cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
